<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Home</title>
<link th:replace="fragmentos/cssBootstrap"></link>

</head>
<body>
	
	<div th:replace="fragmentos/header"></div>
	
	<div class="container">
		<h4>
			<label> Editar empresas</label>
		</h4>

		<hr />

		<form th:action="@{/empresa/atualizar}" th:method="post"
			th:object="${empresa}">
			<input type="hidden" th:field="*{id}">

			<div class="row g-3">
				<div class="col-md-6">
					<label>Nome da empresa</label> <input type="text"
						th:field="*{nome}" class="form-control"
						placeholder="ex: Ativa Contábil" aria-label="Razão Social"
						required="required">
				</div>

				<div class="col-md-4">
					<label>CNPJ</label> <input type="text" th:field="*{cnpj}"
						class="form-control" placeholder="00.000.000/0000-00"
						aria-label="Cnpj" required="required">
				</div>

				<div class="col-md-2">
					<label>Código domínio</label> <input type="text"
						th:field="*{codDominio}" class="form-control" placeholder="ex: 01"
						aria-label="Código domínio" required="required">
				</div>
			</div>
			<br />
			<button class="btn btn-outline-primary" type="submit">Atualizar</button>

		</form>
		<hr />
		<br />

	</div>

	<div th:replace="fragmentos/footer"></div>
	<div th:replace="fragmentos/jsBootstrap"></div>
</body>
</html>