<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Home</title>
<link th:replace="fragmentos/cssBootstrap"></link>

</head>
<body>
	<div th:replace="fragmentos/header"></div>
	<div class="container">
		<h4>
			<label> Cadastrar empresas</label>
		</h4>

		<hr />

		<!-- 		mensagens de retorno -->
		<div th:if="${mensagem != null}">
			<div class="alert alert-secondary" role="alert" th:text="${mensagem}"></div>
		</div>

		<div th:if="${mensagemErro != null}">
			<div class="alert alert-secondary" role="alert"
				th:text="${mensagemErro}"></div>
		</div>
		<!-- 		end  -->


		<form th:action="@{/empresa/salvar}" th:method="post"
			th:object="${empresa}">

			<div class="row g-3">
				<div class="col-md-6">
					<label>Nome da empresa</label> <input type="text"
						th:field="*{nome}" class="form-control"
						placeholder="ex: Ativa Contábil" aria-label="Razão Social"
						required="required">
				</div>

				<div class="col-md-4">
					<label>CNPJ</label> <input type="text" th:field="*{cnpj}" name="pj"
						id="pj" class="form-control" placeholder="00.000.000/0000-00"
						required="required" onblur="mascaraCnpj(pj)">
				</div>

				<div class="col-md-2">
					<label>Código domínio</label> <input type="text"
						th:field="*{codDominio}" class="form-control" placeholder="ex: 01"
						aria-label="Código domínio" required="required">
				</div>
			</div>
			<br />
			<button class="btn btn-outline-primary" type="submit">Cadastrar</button>

		</form>
		<hr />
		<br />

		<div th:if="${empresas != null}">
			<h4>
				<label> Lista de Empresas</label>
			</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Empresa</th>
						<th>CNPJ</th>
						<th>Código domínio</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tr th:each="empresa : ${empresas}">
					<td th:text="${empresa.nome}"></td>
					<td th:text="${empresa.cnpj}"></td>
					<td th:text="${empresa.codDominio}"></td>
					<td><a class="btn btn-sm btn btn-outline-warning"
						th:href="@{/empresa/{id}/atualizar(id=${empresa.id})}">Editar</a></td>
					<td><a class="btn btn-sm btn-outline-danger"
						th:href="@{/empresa/{id}/remover(id=${empresa.id})}">Excluir</a></td>
				</tr>
			</table>
		</div>
	</div>

	
	<div th:replace="fragmentos/footer"></div>
	<div th:replace="fragmentos/jsBootstrap"></div>
	<script type="text/javascript" src="/js/funcoes.js"></script>

</body>
</html>