<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Home</title>
<link th:replace="fragmentos/cssBootstrap"></link>

</head>
<body>
	<div th:replace="fragmentos/header"></div>
	<div class="container">
		<h5>
			<label> Arquivo de importação para o Domínio</label>
		</h5>

		<hr />

		<!-- 		mensagens de retorno -->
		<div th:if="${mensagem != null}">
			<div class="alert alert-secondary" role="alert" th:text="${mensagem}"></div>
		</div>

		<div th:if="${mensagemErro != null}">
			<div class="alert alert-secondary" role="alert"
				th:text="${mensagemErro}"></div>
		</div>
		<!-- 		end  -->

		<a th:href="@{${arquivo}}"> Baixar arquivo</a>
		
		<hr />
		<br />

	



		</div>
		
	<div th:replace="fragmentos/footer"></div>
	<div th:replace="fragmentos/jsBootstrap"></div>
</body>
</html>